/*-----------basic---style---item----------*/
#item{
	height: 280px;
	background-color: rgba(164, 82, 55, 0.44);
	color: white;
	margin: 20px;
	border-radius: 20px 20px;
	border-color: rgba(250, 0, 0, 0.64);
	border-width: 1px;
	box-shadow: 1px 1px 2px rgba(250, 0, 0, 0.8), 0 0 55px rgba(250, 0, 0, 0.8), 0 0 5px rgba(250, 0, 0, 0.8);
}

body{
	background: url('https://images2.alphacoders.com/210/210280.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
}
/*--------------navbar---------------------*/
.navbar {
  	color: #f2f2f2;
    background-color: rgba(209, 0, 0, 0.6);
    box-shadow: 1px 1px 2px rgba(250, 0, 0, 0.8), 0 0 55px rgba(250, 0, 0, 0.8), 0 0 5px rgba(250, 0, 0, 0.8);

}
.nav.navbar-nav li a {
	color: #fff;
 }
.nav.navbar-nav li a hover:{
	color: #fff;
 }
.nav.navbar-brand{
	color: #fff;
 }
/*--------------item---------------------*/

.container {
	position: relative;
	background-color: rgba(200,200,200,0.1);


}
/*----------image-----------------------*/
.image {
	display: block;
	width: 100%;
	height: 62%;

}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: rgba(244, 81, 31, 0.4);
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .5s ease;
	border-radius: 20px 20px;

}
/*----------item--after---hover----------*/
.container:hover .overlay {
	bottom: 0;
	height: 100%;
	border-radius: 20px 20px;
	border-color: rgba(244, 31, 31, 0.6);
	border-style: solid;
	border-width: 20px;
	background-color: rgba(200,200,200,0.7);

}
/*-------show--text--after--hover---------*/
.text {
	border-radius: 20px 20px;
	white-space: nowrap; 
	color: black;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);

}

/*-------for-text-after-the-slideshow---------*/
.wrap{
    margin: auto;
    }
.text_over_image{
    position: absolute;
    top: 500px;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
    height:100px;
    background-color: black;
}


.blur {
-webkit-filter: blur(1.5px) grayscale(50%);
}
