<!-- Nav-bar -->
<nav class="navbar navbar-inverse navbar-fixed-top ">
<div>
<ul class="nav navbar-nav">
  <li><a href="#" >E-Commerce Website</a></li>
  <li><a href="#">Home</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<!-- Sign In -->
  <li><a><input id="Luser" type="text" class="form-control w3-animate-zoom" name="username" placeholder="Username"></a></li>
  <li><a><input id="Lpass" type="password" class="form-control w3-animate-zoom" name="password" placeholder="Password"></a></li>
  <li><a><button  class="btn btn-default w3-animate-zoom"  ng-click="Login()">Sign in</button></a></li>
<!-- Sign Up model -->
  <li><a></a></li>
  <li><a><button  class="btn btn-default w3-animate-zoom" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span> Sign Up</button></a></li>
  <li><a></a></li>
</ul>
</div>
</nav>
